@import "reset.css";

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header {
    margin: 0 36px;
    display:flex;
    padding: 30px 0;
    font-family : MBC1961GulimM;
    white-space: nowrap;
}

#header .main_nav {
    width:100%;
    display:flex;
}

#header .logo {
    display: flex;
    align-items: center;
}

#header .logo a {
    display:inline-block;
    width:190px;
    height:60px;
    background: url("../images/logo_black.png") 0 no-repeat;
    background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#header .nav_wrap {
    width:100%;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#header .main_nav .nav_list {
    width:100%;
}

#header .main_nav .nav_list a {
    width:100%;
    font-size:28px;
}

.nav_right {
    width:100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/*마이페이지 버튼*/
#header .mypage_wrap {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}


 #header .mypage_wrap .mypage a {
    width: 160px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 28px;
    background: black;
    color: #fff;
    font-size: 28px;
}

/* 로그아웃 버튼 */

#header .logout_wrap {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}


#header .logout_wrap .logout a {
    width: 160px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 28px;
    background: black;
    color: #fff;
    font-size: 28px;
}

/* 로그인 버튼 */
#header .login_wrap {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#header .login_wrap .login a {
    width: 160px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 28px;
    background: black;
    color: #fff;
    font-size: 28px;
}

/*알림창 관련 css*/
.alarm_area{
    position: relative;
}
.alarm{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 28px;
    background: black;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}
#alarm_cnt{
    display: none;
    border: none;
    outline: none;
    color: white;
    background: #0077ff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    text-align: center;
    border-radius: 50%;
}
#alarm_popup{
    display: none;
    position: absolute;
    top: 70px;
    left: -150px;
    background-color: #f6f6f6;
    border: 1px solid lightgray;
    width: 330px;
    padding: 5px 5px 0 5px;
    font-size: 15px;
    z-index: 1;
}
.cancel_btn{
    float: right;
    border: none;
    width: 20px;
    height: 20px;
    background: #25c7f5;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#alarm_area{
    padding: 10px 0;
}
#popup_cnt{
    border: none;
    background: none;
    font-family : MBC1961GulimM;
    color: #0077ff;
    font-size: 15px;
    outline: none;
}
.alarm_one{
    display: flex;
}
.invite_title{
    margin: 10px 10px 0 10px;
}
.inviting_list{
    line-height: 25px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.team_name{
    color: #0077ff;
}
.answer_btn{
    float: right;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
}
.accept_btn{
    background: #25c7f5;
    color: white;
}
.refuse_btn{
    background: white;
    color: gray;
    border: 1px solid lightgray;
}