@import "reset.css";

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header {
    margin: 0 36px;
    display:flex;
    padding: 30px 0;
    font-family : MBC1961GulimM;
    white-space: nowrap;
}

#header .main_nav {
    width:100%;
    display:flex;
}

#header .logo {
    display: flex;
    align-items: center;
}

#header .logo a {
    display:inline-block;
    width:190px;
    height:60px;
    background: url("../images/logo_black.png") 0 no-repeat;
    background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#header .nav_wrap {
    width:100%;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#header .main_nav .nav_list {
    width:100%;
}

#header .main_nav .nav_list a {
    width:100%;
    font-size:28px;
}

.nav_right {
    width:100%;
}

/*마이페이지 버튼*/
#header .mypage_wrap {
    display:none;
    width:100%;
    justify-content: flex-end;
    align-items: center;
}
#header .mypage_wrap.logined {
    display:flex;
}

 #header .mypage_wrap .mypage a {
    width: 160px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 28px;
    background: black;
    color: #fff;
    font-size: 28px;
}

/* 로그인 버튼 */
#header .login_wrap {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header .login_wrap.logined {
    display:none;
}

#header .login_wrap .login a {
    width: 160px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 28px;
    background: black;
    color: #fff;
    font-size: 28px;
}