* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style:none;
    color:black;
    text-decoration:none;
}

body {
    margin: 0;
    padding: 0;
    /*min-width:340px;*/
}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/images/bg.jpg") no-repeat center;
    background-size: cover;

}
/*#wrap::before {*/
/*    content: "";*/
/*    position: absolute; z-index: 1;*/
/*    top: 0; right: 0; bottom: 0; left: 0;*/
/*    background-color: rgba(0,0,0,.7);*/
/*}*/

.login_container {
    /*z-index: 2;*/
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
    border-radius: 50px;
    width: 700px;
    min-height: 550px;
    background: b;
    padding:50px;
}

.login_container h1 {
    margin:0 auto;
    text-align:center;
    font-size:26px;
    padding:20px;
}

form {
    display: flex;
    flex-direction: column;
}

.logo {
    padding:30px;
    padding-bottom:50px;
    margin:0 auto;
}

.logo img {
    width:200px;
}

.login-box {
    position: relative;
    width: 100%;

}

#id{
    margin-bottom:25px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.login-box ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 10px;
}

.login-box input:valid,
.login-box input:focus {
    border: 1px solid #1d2b3a;
}

#submit_button {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    background:#fff;
    border: 1px solid #1d2b3a;
    border-radius:10px;
    /* cursor: default!important; */
}

#submit_button:hover {
    background:#d91950;
    color:#fff;
}

.login_signup {
    width:100%;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    padding-top:20px;
    display:flex;
    justify-content: space-between;
}

.login_signup p a {
    margin-left: 10px;
    font-size: 1.0rem;
}

/* 아이디 찾기 */
.id_result {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.id_result #found_id {
    display:none;
    margin-top: 10px;
    border: 1px solid black;
    border-radius:5px;
    padding: 15px;
    width: 100%;
    text-align: center;
}

/* 비밀번호찾기 */
.id_btn_box {
    padding-top:10px;
    display:flex;
    justify-content:flex-end;
}
.id_btn_box button {
    width: 20%;
    height: 40px;
    background: #fff;
    border: 1px solid #1d2b3a;
    border-radius: 10px;
    cursor: pointer;
}

.login-box #send_btn {
    width: 100%;
    height: 40px;
    margin-top:10px;
    background:#fff;
    border: 1px solid #1d2b3a;
    border-radius:10px;
    cursor:pointer;
}