@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.page_title{
    padding: 60px 300px;
    background: #92d5ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Tenada";
}

.page_title>h1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "Tenada";
}
.contents_filter{
    display: flex;
    font-family: "Noto Sans KR";
}
.filter{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 auto;
}
.filter_input{
    display: flex;
}
.filter_option{
    padding: 10px 0;
    margin-bottom: 20px;
}
.option_text{
    font-size: 14px;
}
#search{
    height: 60px;
    border: 3px solid #3e3d55;
    padding: 0 0 0 10px;
    width: 600px;
    margin: 0;
    font-size: 15px;
}
#filter_btn{
    border: none;
    background: #3e3d55;
    color: white;
    width: 100px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
}
/*.search_menu{*/
/*    display: flex;*/
/*    padding: 0 300px;*/
/*    gap:50px;*/
/*    margin-bottom: 10px;*/
/*    font-family:"Noto Sans KR";*/
/*}*/
/*#sorts{*/
/*    height: 40%;*/
/*}*/
/*#search_container{*/
/*    border: 1px solid #3e3d55;*/
/*    width: 290px;*/
/*    height: 40%;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*}*/
/*#search{*/
/*    height: 100%;*/
/*    !*line-height: 28px;*!*/
/*    padding: 0 20px;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*}*/
/*#search_btn{*/
/*    background: #3e3d55;*/
/*    width: 40px;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/
/*#search_btn img{*/
/*    width: 15px;*/
/*}*/
#lines{
    cursor: pointer;
    display:flex;
    flex-direction: column;
}

.contents {
    display: flex;
    padding: 0 180px;
    gap:50px;
    margin-bottom: 200px;
    font-family:"Noto Sans KR";
}
.contents button {
    font-family:"Noto Sans KR";
}
.contents_left{
    display: flex;
    flex-direction: column;
    /*padding: 70px 0;*/
}

.left_menu{
    width:250px;
    border-top: 10px solid #3e3d55;
    padding-top: 30px;
}

.make_btn{
    border: none;
    background: #3e3d55;
    color: white;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    font-size:16px;
}
#match_title, #squadA, #startAt, #endAt{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
}
.error_title, .error_squadA, .error_startAt, .error_endAt{
    display: none;
    color: red;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
    outline: none;
}
.sub_section{
    text-align: center;
    display: flex;
    margin-top: 20px;
}
.make_sub{
    width: 50%;
    margin: 0 auto;
    border: none;
    background: #3e3d55;
    color: white;
    height: 35px;
    cursor: pointer;
}
.enter_btn{
    background: #25c4f2;
}
.cancel{
    background: #3e3d55;
}
#my_match {
    padding-bottom:40px;
}
#my_match, #apply_list{
    display: flex;
    flex-direction: column;
}
#my_match>a, #apply_list>a{
    padding:20px 10px;
    border-bottom:1px solid lightgray;
}
#my_match>a:hover, #apply_list>a:hover{
    background:#92d5ff;
    color: white;
}
.contents_right{
    width: 100%;
    border-top: 10px solid #3e3d55;
    display:flex;
    flex-direction: column;
}
#show_make, .hidden{
    display: none;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.bar_date{
    width: 45%;
}
.bar_squad{
    width: 30%;
}
.bar_title{
    width: 30%;
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.bar_content{
    width: 55%;
    /*text-align: center;*/
    /*padding-left: 10px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bar_join{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.join_btn{
    border: none;
    width: 35px;
    height: 35px;
    background: #25c7f5;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.join_btn:hover {
    background: white;
    color:black;
    border:1px solid black;
    box-sizing: border-box;
}
#applyContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
#applyContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    padding: 15px;
    padding-bottom: 30px;
}

#close_btn{
    display: flex;
    justify-content: flex-end;
}
#squad_container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0;
}
#squad_select_container{
    width: 65%;
}
#squad_partIn_btn_container{
    width: 30%;
}
#squad_select_container > #squadB, #partIn_btn{
    width: 100%;
    height: 100%;
}

#squadB {
    padding:5px;
}

#partIn_btn {
    border:1px solid #2b2b2b;
    background: #fff;
}

#partIn_btn:hover {
    border:1px solid #92d5ff;
    background: #92d5ff;
    color: #ffffff;
}

.division_line{
    height: 1px;
    border-top: 1px solid lightgray;
    margin-top: 25px;
}

.make_list {
    padding-top:20px;
}

.list_title{
    padding: 20px 10px;
    font-size: 15pt;
    border-bottom: 1px solid #3e3d55;
}