.container{
    margin: 0 auto;
    width: 80%;
}

#match_table_wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.match_table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.match_table ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #282830;
}

.match_table ul li {
    font-family: MBC1961GulimM;
    width: 100%;
}

.match_table .table_attribute li{
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
}

.match_table .table_attribute li:first-child {
    width: 50%;
}

.match_table .match_content li:first-child {
    width: 50%;
}

.match_table .match_content li{
    text-align: center;
    font-size: 16px;
    padding: 30px 0;
}

#lines{
    cursor: pointer;
}

#lines:first-child{
    border-top: 1px solid #282830;
}

.buttons{
    /*position: fixed;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 16px;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons > a{
    display: block;
    position: relative;
    background-color: black;
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.buttons > a > img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 46%;
    height: auto;
    transform: translate(-50%,-50%);
}
