.container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 40px;
}
.sub_container{
    margin: 20px;
}
.match_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.match-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 100%;*/
    height: 70%;
    /*gap:20px;*/
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.match-preview:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url("/images/soccer_field.png");
    background-repeat : no-repeat;
    background-position : center, center;
    background-size : 600px;
    transform: rotate(90deg);
}
#title{
    font-size: 40pt;
    font-family: MBC1961GulimM;
    text-align: center;
}
.match_info{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.match_info ul{
    display: flex;
    justify-content: space-around;
}
.match_info span{
    font-family: MBC1961GulimM;
}
.logo_container{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    flex: 1;
    margin: 0 auto;
    /*width: 50%;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
}
.logo_container div img{
    width: 200px;
    height: 225px;
}
#squadA_name, #squadB_name{
    margin-top: 15px;
    font-family: MBC1961GulimM;
    font-size: 30pt;
    text-align: center;
}
.vs{
    margin: auto;
    font-size: 65pt;
    color: gray;
    opacity: 0.4;
    text-align: center;
}
#applyContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
#applyContent {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: 150px;
    padding: 15px;
}
#applyContainer.hidden{
    display: none;
}

.view_back{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.view_back > a{
    display: flex;
    align-items: center;
    background: #3e3d55;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.tm{
    margin-top: 5px;
    width: 60px;
    border-right: 1px solid #525166;
    text-align: center;
    height: 50px;
}
.icon_return{

}
.text{
    color: white;
    font-size: 15px;
    width: 170px;
    text-align: center;
}