.page_title{
    height: 200px;
    padding-left: 5%;
    background: #92d5ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}
.page_title>h1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
button{
    padding: 0;
}
.contents_top{
    display: flex;
    margin: 0 5%;
    margin-top: 70px;
    border-top: 10px solid #3e3d55;
}

/*스쿼드 정보*/
.contents_left{
    display: flex;
    flex-direction: column;
    padding: 40px 2%;
    margin: 0 3%;
    width: 300px;
    border-bottom: 1px solid #3e3d55;
    height: 100%;
}
.squad_edit{
    border: none;
    background: #3e3d55;
    color: white;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 15px;
}
.delete_btn{
    background: #656477;
}
.contents_list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.contents_list>label{
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}
.small_title{
    font-weight: 700;
    color: #3f3f3f;
}
#name{
    height: 40px;
}
.contents_list>textarea{
    height: 70px;
    padding-top: 10px;
}
.error_name{
    color: red;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 13px;
    outline: none;
    border: none;
    display: none;
}
.invited_btn{
    border: none;
    background: #3e3d55;
    color: white;
    width: 30%;
    height: 35px;
    cursor: pointer;
}

.input_area{
    border-radius: 5px;
    border: 3px solid #3e3d55;
    padding-left: 10px;
}
#invite_list{
    display: none;
    position: absolute;
    left: 90px;
    top: 760px;
    background-color: #f6f6f6;
    border: 1px solid lightgray;
    width: 330px;
    padding: 5px 5px 0 5px;
    font-size: 15px;
}
.popup_area{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.invite_title{
    margin: 10px 10px 0 10px;
}
#email{
    width: 75%;
    height: 30px;
    border: 1px solid gray;
    padding-left: 10px;
}
.cancel_btn{
    float: right;
    border: none;
    width: 20px;
    height: 20px;
    background: #25c7f5;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.small_btn{
    width: 20%;
    border: none;
    background: #3e3d55;
    color: white;
    height: 30px;
    cursor: pointer;
}
.squad_member{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.email_area{
    display: flex;
    align-items: center;
    margin: 20px 10px 0 10px;
    justify-content: space-between;
}
.list_area{
    padding: 10px 0;
    border-top: 1px solid;
    margin: 20px 10px;
}
.inviting_list{
    line-height: 25px;
    margin: 10px;
}
.answer_btn{
    float: right;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
}
.accept_btn{
    background: #25c7f5;
    color: white;
}
.refuse_btn{
    background: white;
    color: gray;
    border: 1px solid lightgray;
}
.contents_member{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}
.list_pos{
    width: 20%;
}
.list_name{
    width: 60%;
}
.list_out{
    width: 20%;
    text-align: center;
}
.out_btn{
    width: 100%;
    margin: 0 auto;
    border: none;
    background: #3e3d55;
    color: white;
    height: 30px;
    cursor: pointer;
}
/*표시*/

.center_line{
    width: 1px;
    border-left: 1px solid lightgray;
    margin-top: 10px;
}

/*포지션*/
.right_area{
    margin: 0 auto;
}
.formation{
    width: 180px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    background: #161616;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 40px auto;
}
.contents_right{
    display: flex;
    flex-direction: column;
    background-image: url("../images/soccer_field.png");
    background-repeat: no-repeat;
    height: 852px;
    width: 602px;
    margin: 0 auto;
    justify-content: flex-end;
}
.position_area{
    width: 100%;
    height: 15%;
    text-align: center;
}
.position_row{
    display: flex;
    flex-direction: row;
    height: 15%;
}
.position_add{
    margin: 0 auto;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
#select_box{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid lightgray;
    padding: 5px 5px 20px 5px;
    font-size: 15px;
    width: 300px;
    height: 300px;
    top: 800px;
    right: 225px;
}

/*채팅*/
.contents_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chat{
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
    overflow: auto;
}
.myChat{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.otherChat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.shadow{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100vh;
    display: none;
}