.wrap {
    width: 80%;
    margin: 0 auto;
}
.contents {
    box-shadow: rgba(0, 0, 0, 0.016) 0px 0px 8px;
    width: 100%;
    padding-top: 20px;
}
.contents > form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contents input {
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    font-size: 15px;
    font-family: '돋움', serif;
}
textarea:focus {
    outline: none;
}
textarea{
    border: 1px solid #ebecef;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: '돋움', serif;
    min-height: 500px;
    resize: none;
}

.squad-input{
    display: flex;
}

.squad-input > #squadA, .squad-input > #squadB{
    width: 49%;
}
#squadA{
    margin: 5px 5px 5px 0;
}
#squadB{
    margin: 5px 0 5px 10px;
}
