@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.page_title {
    padding: 60px 300px;
    background: #92d5ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Tenada";
}
.page_title>h1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "Tenada";
}
.contents_filter{
    display: flex;
    font-family: "Noto Sans KR";
}

.contents_filter input {
    font-family: "Noto Sans KR";
}
.filter{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 auto;
}
.filter_input{
    display: flex;
}
.filter_option{
    padding: 10px 0;
    margin-bottom: 20px;
}
.option_text{
    font-size: 14px;
}
#filter_keyword{
    height: 60px;
    border: 3px solid #3e3d55;
    padding: 0 0 0 10px;
    width: 600px;
    margin: 0;
    font-size: 15px;
}
#filter_btn{
    border: none;
    background: #3e3d55;
    color: white;
    width: 100px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
}
.contents {
    display: flex;
    padding: 0 180px;
    gap:50px;
    margin-bottom: 200px;
    font-family:"Noto Sans KR";
}
.contents button {
    font-family:"Noto Sans KR";
}
.contents_left{
    display: flex;
    flex-direction: column;
    /*padding: 70px 0;*/
}
.left_menu{
    width:250px;
    border-top: 10px solid #3e3d55;
    padding-top: 30px;
}
.make_btn{
    border: none;
    background: #3e3d55;
    color: white;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    font-size:16px;
}
#squad_name {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
}
.error_name{
    display: none;
    color: red;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
    outline: none;
}
.sub_section{
    text-align: center;
    display: flex;
    margin-top: 20px;
}
.make_sub{
    width: 50%;
    margin: 0 auto;
    border: none;
    background: #3e3d55;
    color: white;
    height: 35px;
    cursor: pointer;
}
.enter_btn{
    background: #25c4f2;
}
.section_cancel_btn{
    background: #3e3d55;
}
#my_squad{
    display: flex;
    flex-direction: column;
}
#my_squad>a{
    padding:20px 10px;
    border-bottom:1px solid lightgray;
}
#my_squad>a:hover{
    background:#92d5ff;
    color: white;
}
.contents_right{
    width: 100%;
    border-top: 10px solid #3e3d55;
    display:flex;
    flex-direction: column;
}
#show_make{
    display: none;
}
#squad_list {
    display:flex;
    flex-direction: column;
}
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.bar_name{
    width: 30%;
}
.bar_over{
    width: 30%;
}
.bar_content{
    width: 100%;
}
.bar_date{
    width: 30%;
}
.bar_join{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.join_btn{
    border: none;
    width: 35px;
    height: 35px;
    background: #25c7f5;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.join_btn:hover {
    background: white;
    color:black;
    border:1px solid black;
    box-sizing: border-box;
}
